.pagina_conteudo {
  width: 100%;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.container_titulo_acoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.titulo {
  font-size: 1.6rem;
  color: #006dcd;
  margin: 0;
}

.botoes_acao {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}