.container_principal {
  padding: 30px 100px;
}

.container_titulo_acoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.titulo {
  font-size: 1.6rem;
  color: #006dcd;
}

.botoes_acao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.botao_sair {
  font-size: 16px;
  padding: 12px 25px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #495057;
  transition: background-color 0.6s ease;
  font-size: 16px;
  &:hover {
    background-color: #ff3f34;
    border: none;
    color: white;
    transition: background-color 0.6s ease;
  }
}

.container_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
