.botao_modal {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .botao_modal svg {
    font-size: 18px;
  }
  
  .container_total_modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container_formulario {
    width: 600px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .container_linha {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .container_campos_formulario {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
  }
  
  .container_campos_formulario label {
    font-size: 0.9rem;
    color: #495057;
  }
  
  .container_campos_formulario input,
  .container_campos_formulario select {
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .container_botoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .botao_cancelar,
  .botao_salvar {
    flex: 1;
    padding: 10px 0;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    color: white;
  }
  
  .botao_cancelar {
    background-color: #ff4136;
  }
  
  .botao_cancelar:hover {
    background-color: #ff0d00;
  }
  
  .botao_salvar {
    background-color: #31c657;
  }
  
  .botao_salvar:hover {
    background-color: #00ba2f;
  }
  